.link{
  text-decoration: none;
  color: #fff;
  transition: color 0.5s ease-in-out;
}
.link:hover{
  color: dimgray;

}
.list-item{
  list-style-type: decimal;
}

.show > .dropdown-menu {
    max-height: 800px;
    visibility: visible;
  }
    
  .dropdown-menu {
    display: block;
    max-height: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }